mbody { 
    margin: 0; 
    padding: 0; 
}

#map { 
    position: absolute; 
    top: 0; 
    bottom: 0; 
    width: 100%; 
}

.overlay {
    position: absolute;
    background-color:rgb(196, 196, 196, 0.7);
    top: 10px;
    left: 10px;
    height: 90%;
    overflow: auto;
}
     
.overlay button {
    font: 600 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
    background-color: #3386c0;
    color: #fff;
    display: inline-block;
    margin: 0;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 3px;
}
     
.overlay button:hover {
    background-color: #4ea0da;
}

.legend {
    background-color: #fff;
    border-radius: 3px;
    bottom: 30px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
    padding: 10px;
    position: absolute;
    right: 10px;
    z-index: 1;
}
     
.legend h4 {
    margin: 0 0 10px;
}
     
.legend div span {
    border-radius: 50%;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.1);
    display: inline-block;
    height: 10px;
    margin-right: 5px;
    width: 10px;
}

.overlay .map-overlay {
    font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
    top: 0;
    left: 0;
    padding: 10px;
}

.overlay .map-overlay .map-overlay-inner {
    background-color: #fff;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    padding: 10px;
    margin-bottom: 10px;
    width: 300px;
}

.overlay .map-overlay h2 {
    line-height: 10px;
    display: block;
    margin: 0 0 10px;
}

.overlay .map-overlay input {
    background-color: transparent;
    display: inline-block;
    width: 100%;
    position: relative;
    margin: 0;
    cursor: pointer;
}

.ui-birdID {
    background:rgba(0,0,0,0.5);
    position:absolute;
    bottom:10px;
    left:10px;
    padding:5px 10px;
    color:#fff;
    font-size:11px;
    line-height:18px;
    border-radius:3px;
    max-height:240px;
    overflow:auto;
    width:100px;
}

.ui-birdID h4 {
    margin: 0 0 10px;
}

.ui-birdID div span{
    border-radius: 50%;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.1);
    display: inline-block;
    height: 10px;
    margin-right: 5px;
    width: 10px;
}